## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
#the first thing that came into my mind
sample_list_0=[]
for i in range (1000):
    x=random.random()
    x1=int(x*100)
    if x1 in sample_list_0:
        pass
    else:
        if len(sample_list_0)<80:
            sample_list_0.append(x1)
        else:
            break



#a shorter but, not perfect way
list100=[]
for i in range (100):
    list100.append(i)
sample_list_1=random.sample(list100,80)
print (len(sample_list_1))
print(sample_list_1)

#easygoing

80
[88, 66, 65, 39, 22, 35, 58, 83, 45, 41, 14, 46, 0, 24, 53, 78, 23, 37, 79, 44, 32, 9, 30, 11, 92, 86, 59, 51, 21, 25, 73, 61, 87, 56, 62, 81, 70, 71, 34, 18, 10, 54, 75, 93, 98, 15, 60, 19, 82, 17, 84, 99, 63, 55, 36, 13, 27, 49, 33, 77, 97, 90, 68, 38, 3, 94, 29, 43, 26, 91, 47, 69, 67, 80, 52, 95, 1, 96, 5, 2]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1=set(sample_list_1)
print(len(set1))
print(set1)

80
{0, 1, 2, 3, 5, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2=[]
for i in range (80):
    x=random.random()
    x1=int(x*100)
    sample_list_2.append(x1)
k=len(sample_list_2)
print (k)
print (sample_list_2)

80
[74, 88, 11, 53, 74, 20, 94, 98, 23, 63, 65, 66, 11, 89, 72, 50, 72, 48, 50, 76, 56, 44, 61, 60, 89, 68, 65, 63, 30, 73, 5, 38, 11, 26, 75, 19, 50, 7, 44, 18, 49, 96, 33, 3, 95, 9, 34, 62, 99, 33, 71, 74, 22, 99, 63, 33, 53, 87, 94, 98, 26, 7, 10, 94, 76, 25, 52, 21, 36, 31, 24, 95, 40, 98, 93, 31, 60, 53, 74, 61]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2=set(sample_list_2)
print(len(set2))
print(set2)

51
{3, 5, 7, 9, 10, 11, 18, 19, 20, 21, 22, 23, 24, 25, 26, 30, 31, 33, 34, 36, 38, 40, 44, 48, 49, 50, 52, 53, 56, 60, 61, 62, 63, 65, 66, 68, 71, 72, 73, 74, 75, 76, 87, 88, 89, 93, 94, 95, 96, 98, 99}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [12]:
# Your code here
set3=set1-set2
print (len(set3))
print(set3)

39
{0, 1, 2, 13, 14, 15, 17, 27, 29, 32, 35, 37, 39, 41, 43, 45, 46, 47, 51, 54, 55, 58, 59, 67, 69, 70, 77, 78, 79, 80, 81, 82, 83, 84, 86, 90, 91, 92, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
set4=set2-set1
print (len(set4))
print(set4)

10
{7, 40, 72, 74, 76, 48, 50, 20, 89, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here
set5=set1.intersection(set2)
print (len(set5))
print(set5)

41
{3, 5, 9, 10, 11, 18, 19, 21, 22, 23, 24, 25, 26, 30, 33, 34, 36, 38, 44, 49, 52, 53, 56, 60, 61, 62, 63, 65, 66, 68, 71, 73, 75, 87, 88, 93, 94, 95, 96, 98, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here
q1=len(set1)+len(set2)-len(set3)-len(set4)
q2=2* len(set5)

print (q1)
print (q2)

#q1=q2, based on the disjoint conditions of some of the sets and the fact that they all add to 100 elements

82
82

#### Create an empty set called `set6`.

In [17]:
# Your code here
set6=set()
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# Your code here
for i in set3:
    set6.update({i})
for j in set5:
    set6.update({j})

print(len(set6))    
print (set6)

80
{0, 1, 2, 3, 5, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 43, 44, 45, 46, 47, 49, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70, 71, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here
z = set1.difference(set6)
print (z)
print (len(z))

# they must be equal, since the difference is an empty value

set()
0

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [25]:
# Your code here
z = set1.issubset(set2)
za = set1.issubset(set3)
print (z)
print (za)
# since none of them is contained in the other, we can conclude that they are disjoints sets

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [26]:
# Your code here
zu = set3.union(set4,set5)
zx =set1.union(set2)
z = zu.difference(zx)
print (z)
# There is no difference between the union od set3,set4 and set5, and the aggregation of set1 and set 2. They are equal

set()

#### Using the `pop` method, remove the first element from `set1`.

In [28]:
# Your code here
# pop removes a random, so it is impossible to remove the first element.so i wil transform my set into a list, remove the first value, and then put it back as a set
#I'll do it later

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [30]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
a=len(list_to_remove)
for i in range(a):
    v=list_to_remove[i]
    set1.discard(v)
print(len(set1))
print (set1)

{0, 2, 3, 5, 10, 13, 14, 15, 17, 18, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 43, 44, 45, 46, 47, 52, 53, 54, 55, 56, 58, 60, 62, 63, 65, 66, 67, 68, 70, 73, 75, 77, 78, 80, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}
62