# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# Libraries
import pandas as pd
import re

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [2]:
# your code here
data=pd.read_csv('/home/davidgozalo/Ironhack/dataptmad0420/module-2/advanced-pandas/Admission_Predict.csv')
display(data)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [14]:
# your code here
list_columns=list(data.columns)
list_columns_rstripped=[]
for item in list_columns:
    x = item.rstrip()
    if len(item)>len(x):
        print(f"change {item} ({len(item)})  for {x} ({len(x)})")
    list_columns_rstripped.append(x)

In [4]:
data.rename(columns={'LOR ':'LOR','Chance of Admit ':'Chance of Admit'}, inplace=True)

Let's evaluate the dataset by looking at the `head` function.

In [5]:
# your code here
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [6]:
# your code here
data.isnull()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [7]:
# your code here
data.set_index('Serial No.', drop=False)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [8]:
# your code here
data.set_index(['GRE Score','CGPA'], drop=True, inplace=True)
display(data)

,,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,,
337,9.65,1,118,4,4.5,4.5,1,0.92
316,8.00,2,104,3,3.0,3.5,1,0.72
322,8.67,3,110,3,3.5,2.5,1,0.80
314,8.21,4,103,2,2.0,3.0,0,0.65
330,9.34,5,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
324,9.04,381,110,3,3.5,3.5,1,0.82
325,9.11,382,107,3,3.0,3.5,1,0.84
330,9.45,383,116,4,5.0,4.5,1,0.91
312,8.78,384,103,3,3.5,4.0,0,0.67
333,9.66,385,117,4,5.0,4.0,1,0.95

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# your code here
data.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [10]:
# your code here
CGPA_9_R = data[(data["CGPA"] > 9)&(data["Research"] == 1)]
c=CGPA_9_R.count()
#CGPA_9_R.info()
c.iloc[1]

101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [11]:
# your code here
CGPA_9_SOP_3_5 = data[(data["CGPA"] > 9)&(data["SOP"] < 3.5)]
a=CGPA_9_SOP_3_5.count()
#CGPA_9_SOP_3_5.info()
a.iloc[0]
#display(a)

5

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

In [15]:
data.columns

Index(['GRE Score', 'CGPA', 'Serial No.', 'TOEFL Score', 'University Rating',
       'SOP', 'LOR', 'Research', 'Chance of Admit'],
      dtype='object')

In [17]:
type(data.describe())

pandas.core.frame.DataFrame

In [24]:
data.describe()

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
count,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,316.732468,8.597091,193.000000,107.387013,3.070130,3.376623,3.431169,0.548052,0.723922
std,11.559115,0.602385,111.284171,6.121456,1.144628,1.007640,0.896936,0.498333,0.144027
min,290.000000,6.800000,1.000000,92.000000,1.000000,1.000000,1.000000,0.000000,0.340000
25%,308.000000,8.160000,97.000000,103.000000,2.000000,2.500000,3.000000,0.000000,0.640000
50%,317.000000,8.620000,193.000000,107.000000,3.000000,3.500000,3.500000,1.000000,0.730000
75%,325.000000,9.070000,289.000000,112.000000,4.000000,4.000000,4.000000,1.000000,0.830000
max,340.000000,9.920000,385.000000,120.000000,5.000000,5.000000,5.000000,1.000000,0.970000

In [20]:
(data.describe)().iloc[1,:]

GRE Score            316.732468
CGPA                   8.597091
Serial No.           193.000000
TOEFL Score          107.387013
University Rating      3.070130
SOP                    3.376623
LOR                    3.431169
Research               0.548052
Chance of Admit        0.723922
Name: mean, dtype: float64

In [27]:
(data.describe)().iloc[2,:]

GRE Score             11.559115
CGPA                   0.602385
Serial No.           111.284171
TOEFL Score            6.121456
University Rating      1.144628
SOP                    1.007640
LOR                    0.896936
Research               0.498333
Chance of Admit        0.144027
Name: std, dtype: float64

In [19]:
display(data.describe())

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
count,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,316.732468,8.597091,193.000000,107.387013,3.070130,3.376623,3.431169,0.548052,0.723922
std,11.559115,0.602385,111.284171,6.121456,1.144628,1.007640,0.896936,0.498333,0.144027
min,290.000000,6.800000,1.000000,92.000000,1.000000,1.000000,1.000000,0.000000,0.340000
25%,308.000000,8.160000,97.000000,103.000000,2.000000,2.500000,3.000000,0.000000,0.640000
50%,317.000000,8.620000,193.000000,107.000000,3.000000,3.500000,3.500000,1.000000,0.730000
75%,325.000000,9.070000,289.000000,112.000000,4.000000,4.000000,4.000000,1.000000,0.830000
max,340.000000,9.920000,385.000000,120.000000,5.000000,5.000000,5.000000,1.000000,0.970000

In [ ]:
def standardize(df,col):
    df[col]

In [23]:
len(data.columns)

9

In [47]:
for element in data.columns:
    new_column="standrized_"+element
    mean=(data.describe)().loc["mean",element]
    std=(data.describe)().loc["std",element]
    a=data[element].apply(lambda x:(x-mean)/std)
    data[new_column]=a

In [48]:
display(data)

,GRE Score,CGPA,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,standrized_GRE Score,standrized_CGPA,standrized_Serial No.,standrized_TOEFL Score,standrized_University Rating,standrized_SOP,standrized_LOR,standrized_Research,standrized_Chance of Admit
0,337,9.65,1,118,4,4.5,4.5,1,0.92,1.753381,1.747900,-1.725313,1.733736,0.812378,1.114860,1.191647,0.906919,1.361400
1,316,8.00,2,104,3,3.0,3.5,1,0.72,-0.063367,-0.991211,-1.716327,-0.553302,-0.061269,-0.373768,0.076740,0.906919,-0.027232
2,322,8.67,3,110,3,3.5,2.5,1,0.80,0.455704,0.121034,-1.707341,0.426857,-0.061269,0.122441,-1.038166,0.906919,0.528221
3,314,8.21,4,103,2,2.0,3.0,0,0.65,-0.236391,-0.642597,-1.698355,-0.716662,-0.934915,-1.366186,-0.480713,-1.099770,-0.513253
4,330,9.34,5,115,5,4.5,3.0,1,0.90,1.147798,1.233279,-1.689369,1.243656,1.686024,1.114860,-0.480713,0.906919,1.222537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,381,110,3,3.5,3.5,1,0.82,0.628727,0.735259,1.689369,0.426857,-0.061269,0.122441,0.076740,0.906919,0.667084
381,325,9.11,382,107,3,3.0,3.5,1,0.84,0.715239,0.851463,1.698355,-0.063222,-0.061269,-0.373768,0.076740,0.906919,0.805947
382,330,9.45,383,116,4,5.0,4.5,1,0.91,1.147798,1.415886,1.707341,1.407016,0.812378,1.611069,1.191647,0.906919,1.291968
383,312,8.78,384,103,3,3.5,4.0,0,0.67,-0.409414,0.303641,1.716327,-0.716662,-0.061269,0.122441,0.634193,-1.099770,-0.374389
384,333,9.66,385,117,4,5.0,4.0,1,0.95,1.407334,1.764500,1.725313,1.570376,0.812378,1.611069,0.634193,0.906919,1.569694

In [54]:
# just for checking the results
"""
for element in data.columns:
    new_column="standrized_"+element
    mean=(data.describe)().loc["mean",element]
    std=(data.describe)().loc["std",element]
    print (new_column)
    print(data[element].apply(lambda x:(x-mean)/std))
    print (data[element])
    print (mean)
    print (std)
"""

'\nfor element in data.columns:\n    new_column="standrized_"+element\n    mean=(data.describe)().loc["mean",element]\n    std=(data.describe)().loc["std",element]\n    print (new_column)\n    print(data[element].apply(lambda x:(x-mean)/std))\n    print (data[element])\n    print (mean)\n    print (std)\n'

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [75]:
# your code here
data.rename(columns={"standrized_CGPA": "CGPA_std", "standrized_GRE Score": "GRE_std", "standrized_LOR":"LOR_std"}, inplace=True)

We will generate the decision choice at random using the code below. Please run the cell.

In [59]:
# Libraries
from random import choices

In [71]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']
decision_choice = choices(std_columns, k=data.shape[0])

In [91]:
data.insert(2, "decision_choice", decision_choice)

In [89]:
data.drop(['decision_choice'], axis=1, inplace=True)

In [92]:
display(data)

,GRE Score,CGPA,decision_choice,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,GRE_std,CGPA_std,standrized_Serial No.,standrized_TOEFL Score,standrized_University Rating,standrized_SOP,LOR_std,standrized_Research,standrized_Chance of Admit
0,337,9.65,GRE_std,1,118,4,4.5,4.5,1,0.92,1.753381,1.747900,-1.725313,1.733736,0.812378,1.114860,1.191647,0.906919,1.361400
1,316,8.00,LOR_std,2,104,3,3.0,3.5,1,0.72,-0.063367,-0.991211,-1.716327,-0.553302,-0.061269,-0.373768,0.076740,0.906919,-0.027232
2,322,8.67,LOR_std,3,110,3,3.5,2.5,1,0.80,0.455704,0.121034,-1.707341,0.426857,-0.061269,0.122441,-1.038166,0.906919,0.528221
3,314,8.21,LOR_std,4,103,2,2.0,3.0,0,0.65,-0.236391,-0.642597,-1.698355,-0.716662,-0.934915,-1.366186,-0.480713,-1.099770,-0.513253
4,330,9.34,CGPA_std,5,115,5,4.5,3.0,1,0.90,1.147798,1.233279,-1.689369,1.243656,1.686024,1.114860,-0.480713,0.906919,1.222537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,324,9.04,LOR_std,381,110,3,3.5,3.5,1,0.82,0.628727,0.735259,1.689369,0.426857,-0.061269,0.122441,0.076740,0.906919,0.667084
381,325,9.11,LOR_std,382,107,3,3.0,3.5,1,0.84,0.715239,0.851463,1.698355,-0.063222,-0.061269,-0.373768,0.076740,0.906919,0.805947
382,330,9.45,GRE_std,383,116,4,5.0,4.5,1,0.91,1.147798,1.415886,1.707341,1.407016,0.812378,1.611069,1.191647,0.906919,1.291968
383,312,8.78,LOR_std,384,103,3,3.5,4.0,0,0.67,-0.409414,0.303641,1.716327,-0.716662,-0.061269,0.122441,0.634193,-1.099770,-0.374389
384,333,9.66,LOR_std,385,117,4,5.0,4.0,1,0.95,1.407334,1.764500,1.725313,1.570376,0.812378,1.611069,0.634193,0.906919,1.569694

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [93]:
# your code here
data['deciding_column'] = data.lookup(data.index, data['decision_choice'])

In [94]:
data.columns

Index(['GRE Score', 'CGPA', 'decision_choice', 'Serial No.', 'TOEFL Score',
       'University Rating', 'SOP', 'LOR', 'Research', 'Chance of Admit',
       'GRE_std', 'CGPA_std', 'standrized_Serial No.',
       'standrized_TOEFL Score', 'standrized_University Rating',
       'standrized_SOP', 'LOR_std', 'standrized_Research',
       'standrized_Chance of Admit', 'deciding_column'],
      dtype='object')

RangeIndex(start=0, stop=385, step=1)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [98]:
# your code here
data["decision"]=[1 if x>0.8 else 0 for x in data["deciding_column"]]

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [99]:
# your code here
decision_IN = data[data["decision"]==1] 
c=decision_IN.count()
c.iloc[1]

81

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here