# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
# your code here
import numpy as np
import pandas as pd

#### 2. Create a Pandas Series containing the elements of the list below.

In [101]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [107]:
# your code here
list_series = pd.Series(lst, name="list")

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [109]:
# your code here
third_value=list_series[2]

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [110]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [112]:
# your code here
bdf = pd.DataFrame(b, columns = ["0","1","2","3","4"])
#bdf stands for b DataFrame (I am having a very original afternoon)

#### 5. Rename the data frame columns based on the names in the list below.

In [37]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [113]:
# your code here
bdf.columns = colnames

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [115]:
# your code here
chosen_colnames=['Score_1', 'Score_3', 'Score_5']
subset_bdf=bdf[chosen_colnames]
#subset_bdf stands for subset of b DataFrame, and choosen_columns is a list with the columns I want to select in the subset

#### 7. From the original data frame, calculate the average Score_3 value.

In [117]:
# your code here
avg_score3=bdf["Score_3"].mean()
print(avg_score3)
#avg_score3 stands for average value of the Score_3 column

56.95000000000001

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [45]:
# your code here
max_score4=bdf["Score_4"].max()
print(max_score4)
#max_score3 stands for maximum value of the Score_4 column

88.8

#### 9. From the original data frame, calculate the median Score 2 value.

In [118]:
# your code here
median_score2=bdf["Score_2"].median()
print(median_score2)
#median_score2 stands for median value of the Score_2 column

40.75

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [119]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [121]:
# your code here
odf=pd.DataFrame(orders)
#odf stands for orders DataFrame (My originality has not improved with the passing of the hours)

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [122]:
# your code here
odf[["Quantity","Revenue"]].sum()

Quantity    2978.0
Revenue      637.0
dtype: float64

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [138]:
# your code here
odf_ordered=odf.sort_values(by=["UnitPrice"],ascending=False,ignore_index=True)
    #By ordering the dataframe by unit price I make sure that the most expensive is the first and the least, the last
    #Since I am going to use the index to get the value of the row, I set ignore_index to True, so that the index has the information about the order
a=len(odf_ordered) 
    #By calculating the legth of the Dataframe, I can use that value to get the index value of the last row (length-1)
most_expensive=odf_ordered.loc[0,"UnitPrice"]
least_expensive=odf_ordered.loc[a-1,"UnitPrice"]
    #Now I can obtain the first and last value of the UnitPrice column without having to print, see and write it into the program
print (f"The most expensive item has a price of {most_expensive}, and the least expensive item has a price of {least_expensive}.")
print (f"The diference is {most_expensive-least_expensive}")

revenue_most_expensive=odf_ordered.loc[0,"Revenue"]
revenue_least_expensive=odf_ordered.loc[a-1,"Revenue"]

print ("But since business is about revenues, not just about prices...")    
print (f"and the most expensive item has a revenue of {revenue_most_expensive}, and the least expensive item has a revenue of {revenue_least_expensive}")
print (f"and the diference is {abs(revenue_most_expensive-revenue_least_expensive)}")
print("We can say, in this case, that a higher revenue is coming from the least expensive item.")

#Sorry, I have gone a little step further in the analysis to re-use the code to focus on other variable.
#It is not too original neither, but this is not a very original afternoon anyway.

The most expensive item has a price of 11.95, and the least expensive item has a price of 0.18.
The diference is 11.77
But since business is about revenues, not just about prices...
and the most expensive item has a revenue of 11.95, and the least expensive item has a revenue of 518.4
and the diference is 506.45
We can say, in this case, that a higher revenue is coming from the least expensive item.